.flex{
    display :flex;
}

.uppercase{
    text-transform: uppercase;
}
.semibold{
    font-weight:500;
}
.item-centre{
    align-items: center;
}
.justify-centre{
    justify-content: center;
}
.space-around{
    justify-content: space-around;
}

.mx-2{
    margin-left: 20px;
    margin-right: 20px;
}